<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G1114</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-cdx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CHMS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.cdx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdxml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-cdxml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw XML</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CdxM</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.cdxml</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ctp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawCTP.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-chemdraw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CHMT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.ctp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDTemplateDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawCTS.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-chemdraw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw Template Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sHMT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.cts</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDTemplateDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawCDS.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-chemdraw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw Stationery</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sHMS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.cds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-chemdraw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChemDraw 3.x</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CH35</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.chm</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
				<string>application/x-pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BMP</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
				<string>image/x-png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
				<string>epsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawEPS.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Encapsulated PostScript</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSF</string>
				<string>EPST</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawTGF.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-isis</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Transportable Graphics (TGF)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mTGF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.tgf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>skc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawSKC.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-isis</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ISIS/Sketch (SKC)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mSKC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.skc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rxn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawRXN.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-rxnfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Reaction Molfile (RXN)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mRXN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.rxn</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rxn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawRXN.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-rxnfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Reaction Molfile V3000 (RXN)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>r300</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.rxn3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawText.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-cml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Chemical Markup Language (CML)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CML </string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.cml</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ct</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawCT.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-ct</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Connection Table</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CdCt</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.ct</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mol</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawMOL.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-molfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MDL Molfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mMOL</string>
				<string>MDL~</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mdli.molfile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mol</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawMOL.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-molfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MDL Molfile V3000</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>m300</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.mdl3000</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawMOL.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-sdfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MDL SDfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mSDF</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mdli.sketchfile</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawMOL.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-mdl-sdfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MDL SDfile V3000</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>s300</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.sdf3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawMSM.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-msi-molfile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MSI ChemNote</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>msiM</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.msm</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawSMD.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-smd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SMD 4.2 File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>cSmd</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.smd42</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jdx</string>
				<string>dx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawText.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-jcamp-dx</string>
				<string>chemical/jcamp-dx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Jcamp Spectra</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JDX </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.jdx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawText.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-spectra</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Galactic Spectra</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SPC </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.perkinelmer.external.spc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ChemDrawPICT.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PICT</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Documents</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/svg+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scalable Vector Graphics (SVG)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>svg </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.svg-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>CDDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ChemDraw</string>
	<key>CFBundleIconFile</key>
	<string>CD_desktop_icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.perkinelmer.ChemDraw.18</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChemDraw</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>18.0.0.231</string>
	<key>CFBundleSignature</key>
	<string>CHMD</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Dropbox SDK</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-9qmrrxwvxx3dmpk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>CD_desktop_icon</string>
			<key>CFBundleURLName</key>
			<string>ChemDraw</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chemdraw</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4318</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 1985-2018 PerkinElmer Informatics, Inc. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>CDApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>ChemDraw.sdef</string>
	<key>PerkinElmer_LaunchWithoutKey</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw XML Drawing</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.cdxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CdxM</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cdxml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdxml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw Drawing</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CHMS</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cdx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Clipboard</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chemdraw.cdx-clipboard</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CDIF</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Text Styles</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chemdraw.text-styles</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Internal Text Styles</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chemdraw.internal-text-styles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>Csty</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Structure</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chemdraw.structure</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>STRU</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw Stationary</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawCDS</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.cds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sHMS</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cds</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-chemdraw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw 3.x</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CH35</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>chm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-chemdraw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Template</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawCTP</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.ctp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CHMT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>ctp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-chemdraw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Template Stationary</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawCTS</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.cts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sHMT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cts</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-chemdraw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Add-in</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.chemdraw.addin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chemdrawaddin</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw XML Drawing</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CdxM</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cdxml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdxml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CS ChemDraw Drawing</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawDocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CHMS</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cdx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDraw Clipboard</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CDIF</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SMILES</string>
			<key>UTTypeIdentifier</key>
			<string>org.opensmiles.smiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array/>
				<key>public.mime-type</key>
				<array>
					<string>chemical/smiles</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>InChI</string>
			<key>UTTypeIdentifier</key>
			<string>org.iupac.inchi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>InCh</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-inchi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL Molfile V3000</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawMOL</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.mdl3000</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>m300</string>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mol</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-molfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL Molfile</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawMOL</string>
			<key>UTTypeIdentifier</key>
			<string>com.mdli.molfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mMOL</string>
					<string>MDL~</string>
					<string>TEXT</string>
					<string>swsC</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mol</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-molfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL SDfile</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawMOL</string>
			<key>UTTypeIdentifier</key>
			<string>com.mdli.sketchfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mSDF</string>
					<string>TEXT</string>
					<string>swsD</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sdf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-sdfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chemical Markup Language (CML)</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawText.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.cml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>TEXT</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>CML </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Transportable Graphics (TGF)</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawTGF</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.tgf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mTGF</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>tgf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-isis</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ISIS/Sketch (SKC)</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawSKC</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.skc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mSKC</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>skc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-isis</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Reaction Molfile (RXN)</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawRXN</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.rxn</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mRXN</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>rxn</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-rxnfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Reaction Molfile V3000 (RXN)</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawRXN</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.rxn3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>r300</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>rxn</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-rxnfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Connection Table</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawCT</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.ct</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CdCt</string>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>ct</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-ct</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL SDfile V3000</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawMOL</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.sdf3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>s300</string>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sdf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-sdfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MSI ChemNote</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawMSM</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.msm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>msiM</string>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>msm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-msi-molfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SMD 4.2 File</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawSMD</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.smd42</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>cSmd</string>
					<string>TEXT</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>smd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-smd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Jcamp Spectra</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawText</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.jdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>JDX </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>jdx</string>
					<string>dx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-jcamp-dx</string>
					<string>chemical/jcamp-dx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Galactic Spectra</string>
			<key>UTTypeIconFile</key>
			<string>ChemDrawText</string>
			<key>UTTypeIdentifier</key>
			<string>com.perkinelmer.external.spc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>SPC </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>spc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-spectra</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
