//
//  CDQuickLook.xcconfig
//  CDQuickLook
//
//  Created by Matt Styles on 15/01/2016.
//  Copyright (c) 2014 PerkinElmer. All rights reserved.
//

#include "Common.xcconfig"

// Common paths
PROJECT_ROOT=$(PROJECT_DIR)/../../../..

PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = qlgenerator
INFOPLIST_FILE = CDQuickLook/Info.plist
INFOPLIST_PREFIX_HEADER = $(PROJECT_ROOT)/CommonCS/OfficeReleaseDefs/OfficeReleaseDefs.h
INFOPLIST_PREPROCESS = YES
INSTALL_PATH = /Library/QuickLook
COMBINE_HIDPI_IMAGES = YES
